.results-container {
  padding: 20px;
  width: 100%;
}

.results-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #111;
}

.results-title span {
  color: #007185;
  text-transform: capitalize;
}

.loading {
  font-size: 18px;
  font-weight: 600;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.result-card {
  border: 1px solid #e2e2e2;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  transition: 0.2s ease;
}

.result-card:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  transform: translateY(-3px);
}

.result-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.result-title {
  font-size: 16px;
  margin-top: 10px;
  color: #111;
}

.result-price {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 800;
}

.add-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 800;
}

.add-btn:hover {
  background-color: #f7ca00;
}
