.layout {
  width: 100%;
}

/* HEADER MUST HAVE FIXED HEIGHT */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 70px;
  background-color: #131921;

  display: flex;
  align-items: center;
}

/* MAIN CONTENT MUST START BELOW HEADER */
.main-content {
  margin-top: 70px; /* SAME AS HEADER HEIGHT */
  min-height: calc(100vh - 70px);
  background-color: #eaeded;
}
